:root {
  --primary-color: #1793d4;
  --blue-background-text: white;
  --white-background-text: black;
  --secondary-color: white;
  --accent-background: #e1e8ef;
}

h2, h3 {
    margin: 0;
}

p {
    margin: 0;
    font-size: 14px;
}

button {
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: minmax(250px, 1fr) 5fr;
    height: 100vh;
    font-family: 'Roboto';
}

.sidebar {
    background-color: var(--primary-color);
    padding-left: 25px;
    padding-top: 5px;
    color: var(--blue-background-text);
}

.sidebar-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
}

.sidebar-header > h1 {
    font-size: 25px;
}

.dashboard-logo {
    height: 50px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-nav {
    margin-bottom: 40px;
}

.sidebar-nav li {
    margin-bottom: 20px;
    display: flex;
    gap: 15px;
    cursor: pointer;
}

.nav-icon {
    height: 20px;
}

.dashboard-logo, .nav-icon {
    filter: invert(100%) sepia(4%) saturate(7482%) hue-rotate(168deg) brightness(112%) contrast(104%);
}

.sidebar-nav li:last-child {
    margin-bottom: 0;
}

.main-section {
    display: grid;
    grid-template-rows: 150px 1fr;
}

.header {
    background-color: var(--secondary-color);
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding-top: 12px;
    padding-left: 20px;
    padding-right: 30px;
    box-shadow: 0px 5px 10px #acacac;
    margin-bottom: 2px;
}

.header-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
}

.search > input {
    background-color: var(--accent-background);
    border: 0;
    border-radius: 15px;
    height: 25px;
    width: 500px;
    padding-left: 20px;
}

.search > button {
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    padding: 10px;
}

.main-section-icons {
    height: 20px;
}

.account {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 30px;
}

.account-image {
    background-color: var(--accent-background);
    border-radius: 100%;
    height: 50px;
    width: 50px;
    overflow: hidden;
}

.profile-picture {
    max-width: 100%;
    max-height: 100%;
}

.header-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
}

.header-welcome {
    display: flex;
    align-items: center;
    gap: 20px;
}

.welcome-message {
    align-self: center;
}

.welcome-message > h2 {
    font-weight: 900;
}

.welcome-image {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    overflow: hidden;
    background-color: var(--accent-background);
}

.project-buttons {
    justify-self: end;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.project-buttons > button {
    background-color: var(--primary-color);
    border: none;
    border-radius: 20px;
    width: 100px;
    height: 35px;
    color: var(--blue-background-text);
    font-weight: 600;
}

.body {
    background-color: var(--accent-background);
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 25px 25px 25px 15px;
    gap: 50px
}

.project-card-container {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px
}

.project-card {
    background-color: var(--secondary-color);
    height: 175px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 6px 1fr;
    overflow: hidden;
}

.card-accent {
    background-color: #efb421;
}