:root {
  --primary-color: #1793d4;
  --blue-background-text: white;
  --white-background-text: black;
  --secondary-color: white;
  --accent-background: #e1e8ef;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: minmax(250px, 1fr) 5fr;
    height: 100vh;
    font-family: 'Roboto';
}

.sidebar {
    background-color: var(--primary-color);
    padding-left: 25px;
    padding-top: 5px;
    color: var(--blue-background-text);
}

.sidebar-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
}

.sidebar-header > h1 {
    font-size: 25px;
}

.dashboard-logo {
    height: 50px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-nav {
    margin-bottom: 40px;
}

.sidebar-nav li {
    margin-bottom: 20px;
    display: flex;
    gap: 15px;
    cursor: pointer;
}

.nav-icon {
    height: 20px;
}

.dashboard-logo, .nav-icon {
    filter: invert(100%) sepia(4%) saturate(7482%) hue-rotate(168deg) brightness(112%) contrast(104%);
}

.sidebar-nav li:last-child {
    margin-bottom: 0;
}

.main-section {
    display: grid;
    grid-template-rows: 150px 1fr;
    padding-top: 12px;
}

.header {
    background-color: var(--secondary-color);
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding-left: 20px;
    padding-right: 30px;
}

.header-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
}

.search > input {
    background-color: var(--accent-background);
    border: 0;
    border-radius: 15px;
    height: 25px;
    width: 500px;
    padding-left: 20px;
}

.search > button {
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    padding: 10px;
    cursor: pointer;   
}

.main-section-icons {
    height: 20px;
}

.account {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 30px;
}

.account-image {
    border-radius: 100%;
    height: 50px;
    width: 50px;
}

.profile-picture {
    object-fit: cover;
}

.body {
    background-color: var(--accent-background);
}