:root {
  --primary-color: #1793d4;
  --blue-background-text: white;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: minmax(300px, 1fr) 5fr;
    height: 100vh;
    font-family: 'Roboto';
}

.sidebar {
    background-color: var(--primary-color);
    padding-left: 25px;
    padding-top: 5px;
    color: var(--blue-background-text);
}

.sidebar-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
}

.sidebar-header > h1 {
    font-size: 25px;
}

.dashboard-logo {
    height: 50px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-main-nav li {
    margin-bottom: 20px;
}

.nav-icon {
    height: 20px;
}

.dashboard-logo, .nav-icon {
    filter: invert(100%) sepia(4%) saturate(7482%) hue-rotate(168deg) brightness(112%) contrast(104%);
}